<h1>Home Page</h1>
<a href = "https://dodger-alert-swaggyg55.c9users.io/signup"><button>Signup</button></a>

<a href = "https://dodger-alert-swaggyg55.c9users.io/delete"><button>Delete your account</button></a>

<a href = "https://dodger-alert-swaggyg55.c9users.io/forgot"><button>Forgot your password?</button></a>